@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #E55353;
  --color-accent: #E55353;
  --color-background: #ffffff;
  --color-foreground: #000000;

  --font-questrial: var(--font-questrial);
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-questrial), sans-serif;
}